body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
 background-image: url(img/aka.png);
}
body button{
    color: rgb(143, 127, 127);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 0.7;
    font-family: 'Roboto', sans-serif;

}

main {
  margin: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  perspective: 1000px;
}
    

header h1{
    color: rgb(235, 219, 219);
}

  



.frente,
.verso {
  position: absolute;
}

/* .verso{
    background-color: black;
    opacity: 0.9;
} */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 10px;
  margin: 4px;
  transform-style: preserve-3d;
  transition: transform.5s;
  background-size: 100% 100%;
  /* opacity: 0.7; */
}
.card.flip {
  transform: rotateY(180deg);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
